@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model SurgeryViewModel    
}


<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit" id="yesBtn">Da </button>
                <button class="btn btn-success" type="submit" id="noBtn">Ne </button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("yesBtn").addEventListener('click', () => {
        shouldPrint(true);
    })
    document.getElementById("noBtn").addEventListener('click', () => {
        shouldPrint(false);
    })
    function shouldPrint(value) {
        document.getElementById('shouldPrint').checked = value;
    }
</script>



