@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row navbar" style="background-color: #56cc9db8">
    <h3 class="text-white">@ViewData["Title"]</h3>
</div>
